body {
  background-color: rgb(86, 86, 235);
  color: rgb(233, 221, 221);
}
.section {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.heading {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: turquoise;
}
.container {
}

.digit {
  font-size: 150px;
  font-weight: bold;
}
.text {
  font-size: 40px;
  font-weight: bold;
}
#star {
  background: skyblue;
  padding: 7px 25px;
  border-radius: 10px;
  margin-right: 50px;
  border: 0;
  cursor: pointer;
}
#stop {
  background: rgb(22, 159, 213);
  padding: 7px 25px;
  border-radius: 10px;
  border: 0;
  margin-right: 50px;

  cursor: pointer;
}
#reset {
  background: salmon;
  padding: 7px 25px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
#btn {
  display: flex;
  justify-content: center;
}
